# Dipendenze
# Non vogliamo mai includere la cartella delle dipendenze,
# chiunque cloni il progetto può rigenerarla con `npm install`
/node_modules

# File di build
# La cartella 'dist' contiene il codice finale pronto per il deploy.
# Viene generata ogni volta che esegui `npm run build`
/dist

# Cache di Vite
# Vite usa una cache per velocizzare lo sviluppo locale
.vite/

# Variabili d'ambiente
# Questi file contengono chiavi API e altre informazioni sensibili.
# NON DEVONO MAI finire su un repository pubblico.
.env
.env.*
!.env.example

# Log
# File di log generati da npm o yarn in caso di errori
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File specifici del sistema operativo e dell'editor
# Includiamo i file comuni per macOS, VSCode e altri editor
.DS_Store
.vscode
.idea
.vercel
